{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="https://kit.fontawesome.com/22bacec5de.js" crossorigin="anonymous"></script>
    <title>Nocturnode</title>
</head>
<body>
    <nav class="shadow-[0_4px_10px_-3px_rgba(0,0,0,0.12)]">
        <div class="flex items-center justify-between lg:py-2.5 xl:px-24 lg:px-20 sm:px-7 sm:py-1.5 md:px-10">
        <div>
            <p class="text-ntr-2 sm:text-sm md:text-base lg:text-xl font-bold">Nocturnode</p>
        </div>
        <div class="sm:hidden md:block">
            <ul class="flex items-center text-pry-3 text-sm lg:text-base">
                <li class="px-3"><a href="">Archives</a></li>
                <li class="px-3"><a href="">About</a></li>
                <li class="px-3"><a href="">Subscribe</a></li>
            </ul>
        </div>
        <div class="flex items-center gap-3">
            <form action="" class="flex items-center gap-2">
                <input type="text" placeholder="search blogs" class="border rounded lg:px-2 lg:py-1 sm:px-1.5 sm:text-xs lg:text-sm">
                <button class="border lg:px-3 lg:py-1 sm:px-1.5 sm:text-xs lg:text-sm">Search</button>
            </form>
            <button class="border-2 bg-pry-1 text-pry-12 lg:px-3 lg:py-1.5 sm:px-1.5 sm:text-xs lg:text-sm">Sign In</button>
        </div>
        </div>
    </nav>
    <main class="flex-1 sm:px-7 md:px-10 lg:px-20 xl:px-24">
        {% block content %}{% endblock  %}
    </main>

    <footer class="xl:px-24 lg:px-20 sm:px-7 md:px-10 pb-2 pt-0.5 shadow-[0_-4px_10px_-3px_rgba(0,0,0,0.12)]">
        <p class="my-3 lg:text-base sm:text-sm">Nocturnode</p>
        <div>
            <ul class="flex lg:justify-between lg:text-sm sm:text-xs sm:gap-5">
                <li>A digital publication for the best of minds</li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms of service</a></li>
                <li><a href="">Contact</a></li>
                <li>&copy; 2026 Nocturnode. All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>
</html>


        <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem labore repudiandae accusantium ea eos nesciunt, harum aliquam, quaerat voluptatem debitis corrupti. Nobis quam molestias atque fugiat dolores porro expedita perspiciatis.
        Delectus sed deleniti commodi nesciunt non vero tenetur molestiae perferendis maxime ratione necessitatibus minus voluptatum ut iste tempora facilis ea fugit, sapiente facere, labore temporibus. Molestiae perspiciatis enim aspernatur voluptate?
        Incidunt molestias aperiam ullam accusamus maiores itaque dicta explicabo nam ipsum. Sit excepturi aperiam voluptate aut enim quod sint nihil distinctio quibusdam? Et adipisci mollitia sapiente facilis ex rerum numquam!
        Saepe commodi provident eius unde fugiat optio repellat perferendis reiciendis debitis ducimus aliquid nisi repudiandae aut alias quam ratione obcaecati reprehenderit, officiis fuga dolorem dignissimos dicta? At veniam illum suscipit!
        Aut similique voluptatum quasi necessitatibus animi inventore quod, ut corporis eos, nesciunt labore id culpa ipsa quas nisi quisquam rerum illo dicta pariatur aperiam modi eaque ad molestias! Illo, sint?
        Porro temporibus eum quod libero odit, doloribus molestias laborum tempore ratione error esse quae dignissimos facere voluptas, mollitia nemo tempora? Quisquam recusandae atque enim inventore libero mollitia eos temporibus maxime?
        Delectus recusandae mollitia amet error, atque veniam vitae deleniti modi nostrum reprehenderit numquam earum dolorum. Quasi officia minus iste recusandae! Placeat, voluptate maxime facere nostrum vitae quis distinctio ipsa odit.
        Soluta natus provident quidem atque. Officia, laborum perferendis porro ratione esse eius corrupti deserunt quod quidem fugiat excepturi, ipsum reprehenderit quasi accusantium alias nesciunt laboriosam totam dolorum. Velit, pariatur fugit?
        Consequatur ducimus, assumenda a corporis aspernatur similique maiores nobis voluptate. Quis fugit quia porro recusandae tempore voluptatem laboriosam ducimus fuga sit cupiditate! Ab minima consequatur quaerat vero, aliquam libero illum!
        Animi dolor porro nesciunt. Atque a voluptatem ab aperiam architecto voluptatum velit laudantium eos minima corporis expedita quibusdam, veniam iste consectetur totam animi omnis soluta deserunt laborum? Maiores, nobis quod.
        Nam minus quia aspernatur aliquam voluptate porro quasi tempore voluptatem laboriosam delectus ipsa itaque eos recusandae doloremque vitae animi molestias autem adipisci praesentium eaque, quam corporis ipsum. Placeat, accusantium deleniti!
        Aspernatur eum illo qui nulla labore asperiores voluptas. Accusantium iusto repellat dicta sit, rerum adipisci consequatur cupiditate. Minima, eos delectus obcaecati dignissimos, accusamus optio distinctio iste voluptates necessitatibus, labore quia?
        Voluptas, vel. Consequuntur exercitationem porro blanditiis eveniet dolorem, provident magni qui, nulla amet fugit tenetur, ut delectus cum ullam ratione praesentium ipsa fugiat odit odio! Delectus dolorum voluptates totam itaque?
        Animi consequatur libero magnam mollitia sunt in aspernatur nostrum aperiam qui, repellat corporis corrupti illo natus minima amet labore dicta beatae voluptate quisquam non accusantium officia voluptatum. Accusamus, inventore repudiandae!
        Consectetur, sit earum dolor eius deserunt beatae magni ex aliquam cupiditate vitae voluptas! Rerum quas dignissimos esse, eius voluptate, consequuntur provident veritatis voluptas dicta quam suscipit ex vitae, fuga beatae!
        Nobis voluptatibus eum exercitationem rem veritatis molestias in vitae ducimus voluptate architecto voluptates odit dolorem debitis sunt nisi repellat laudantium, libero quibusdam fugit consequuntur neque quam atque pariatur illo. Molestiae?
        Corrupti inventore quos mollitia, voluptatibus eligendi nisi reprehenderit debitis fuga vel modi aliquam totam corporis officia maxime alias nemo similique rerum quaerat odit libero quidem sit at cupiditate. Molestiae, nemo?
        Incidunt similique nam, nesciunt corporis omnis nostrum facilis dolor quis, dolorum fuga sapiente odit? Magni, totam reiciendis ex nam doloremque quisquam iure quasi excepturi dignissimos suscipit. Quo cupiditate fugiat eaque.
        Enim culpa repudiandae excepturi totam eaque. Exercitationem libero sequi ea. Molestiae eligendi voluptatum atque magnam reprehenderit. Atque earum, reiciendis quasi possimus officia exercitationem placeat amet assumenda quibusdam! Ducimus, nesciunt recusandae.
        Deserunt numquam voluptas eius possimus quis! A voluptatibus ullam doloribus illo delectus velit ut, quo blanditiis repellendus commodi qui. Quae voluptate esse maiores deleniti rerum enim aliquam alias atque facilis.
        Quidem vero corrupti explicabo animi ipsam, modi distinctio? Voluptatum totam expedita iure repellat, provident laborum delectus saepe perferendis omnis vitae animi doloribus optio tenetur molestias corrupti, nulla ratione repellendus incidunt!
        In eligendi quibusdam voluptas, quae deleniti, nisi ratione voluptatem, esse maiores voluptatum asperiores explicabo est culpa? Sequi harum, eos explicabo voluptatum quaerat illum, maxime aspernatur ducimus voluptates quam dolor temporibus.
        Natus ducimus hic dignissimos, repudiandae inventore impedit adipisci optio possimus sapiente a, ipsum quia. Voluptate architecto omnis eaque, hic voluptatem aut ipsum in iusto sunt dolores beatae. Nobis, distinctio ut.
        Veritatis numquam necessitatibus rerum temporibus incidunt. Explicabo molestiae cumque veniam velit debitis omnis vero ipsa quod ut necessitatibus ducimus non, minus nobis deleniti reiciendis in earum, assumenda magnam inventore adipisci?
        Consequuntur impedit magni, iste quae dignissimos corrupti illo nihil itaque voluptatum natus dicta magnam doloribus, mollitia numquam eius sunt adipisci excepturi laudantium ipsa? Suscipit illum fugit perferendis autem, magni eum!
        Quae nobis sunt cupiditate laudantium harum possimus vero nam ullam soluta, consequuntur impedit laboriosam omnis exercitationem explicabo vel doloribus eveniet earum, quasi odit molestiae perspiciatis aliquid tenetur? Hic, dolorem impedit!
        Voluptatem ullam ad, sit maiores voluptatum officia. Neque voluptatem harum quia et quaerat exercitationem est reprehenderit sint, quam hic magnam rem explicabo aliquid soluta. Incidunt doloremque vero sunt porro ea!
        Nesciunt nemo dicta earum beatae ullam dolores, fugit blanditiis temporibus laboriosam ipsa. Quod rem aliquam labore ullam quos sequi ea eligendi, dicta itaque molestias voluptate quibusdam reprehenderit, porro molestiae fuga!
        Neque sunt id dolorum aspernatur excepturi eveniet repellendus itaque qui maxime, vel repellat facilis est obcaecati nesciunt ad ratione. Numquam aspernatur ab sunt ullam excepturi voluptatum quisquam voluptates error distinctio.
        Assumenda quaerat eum vel vitae, amet quam asperiores eos necessitatibus explicabo quisquam repudiandae earum itaque quod perspiciatis ad delectus mollitia ea hic, fugit distinctio perferendis ipsa in vero. Amet, earum. -->