{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/22bacec5de.js" crossorigin="anonymous"></script>
    <title>Nocturnode</title>
</head>
<body class="min-h-screen flex flex-col bg-pry-12">
    <nav class="shadow-[0_4px_10px_-3px_rgba(0,0,0,0.12)]">
        <div class="flex items-center justify-between lg:py-2.5 xl:px-24 lg:px-20 sm:px-7 sm:py-1.5 md:px-10">
        <div class="flex items-center sm:text-sm md:text-base lg:text-xl">
            <i class="fa-solid fa-moon text-sec-5"></i>
            <p class="text-ntr-2 font-bold hover:text-ntr-5"><a href="{% url "home" %}">Nocturnode</a></p>
        </div>
        <div class="sm:hidden md:block">
            <ul class="flex items-center text-pry-3 text-sm lg:text-base">
                <li class="px-3"><a href="{% url "archives" %}">Archives</a></li>
                <li class="px-3"><a href="{% url "about" %}">About</a></li>
                <li class="px-3"><a href="#">Subscribe</a></li>
            </ul>
        </div>
        <div class="flex items-center gap-3">
            <form action="" class="flex items-center gap-2">
                <input type="text" placeholder="search blogs" class="border rounded lg:px-2 lg:py-1 sm:px-1.5 sm:text-xs lg:text-sm">
                <button class="border lg:px-3 lg:py-1 sm:px-1.5 sm:text-xs lg:text-sm">Search</button>
            </form>
            {% if request.user.is_authenticated %}
                <a href="{% url "profile" %}" class="border-2 bg-pry-1 text-pry-12 lg:px-3 lg:py-1.5 sm:px-1.5 sm:text-xs lg:text-sm hover:bg-pry-12 hover:text-pry-2">Profile</a>
            {% else %}
                <a href="{% url "login" %}" class="border-2 bg-pry-1 text-pry-12 lg:px-3 lg:py-1.5 sm:px-1.5 sm:text-xs lg:text-sm">Sign In</a>
            {% endif %}
        </div>
        </div>
    </nav>
    <main class="flex-1 sm:px-7 md:px-10 lg:px-20 xl:px-24">
        {% block content %}{% endblock  %}
    </main>

    {% if messages %}

    {% for message in messages %}

        <p class="fixed bottom-4 right-4 px-4 py-3 rounded-lg shadow-md text-sm font-medium z-50

            {% if message.tags == 'success' %}
                bg-ntr-6 text-ntr-2 border border-ntr-8
            {% else %}
                bg-sec-8 text-sec-3 border border-sec-9
            {% endif %}
        ">
            {{ message }}
        </p>

    {% endfor %}

{% endif %}

    <footer class="xl:px-24 lg:px-20 sm:px-7 md:px-10 pb-2 pt-0.5 shadow-[0_-4px_10px_-3px_rgba(0,0,0,0.12)]">
        <p class="my-3 lg:text-base sm:text-sm">Nocturnode</p>
        <div>
            <ul class="flex lg:justify-between lg:text-sm sm:text-xs sm:gap-5">
                <li>A digital publication for the best of minds</li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms of service</a></li>
                <li><a href="">Contact</a></li>
                <li>&copy; 2026 Nocturnode. All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>
</html>

