{% extends "common.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="gap-3 flex items-end justify-end text-xs font-semibold font-merriweather my-3.5">
            <a class="text-pry-1 hover:text-ntr-4" href="{% url "home" %}"> HOME </a>

            <a class="text-pry-1 hover:text-ntr-4" href="{% url "addBlog" %}"> CREATE POST </a>
            
            <a class="text-pry-1 hover:text-ntr-4" href="{% url "password_change" %}"> CHANGE PASSWORD</a>

            <div>
                <form action="{% url "logout" %}" method="post">
                {% csrf_token %}
                <button class="text-pry-1 hover:text-ntr-4"> LOG OUT </button>            
                </form>
            </div>
        </div>

        <div class="pt-6 pb-10 flex gap-8">
            <div class="rounded-full sm:h-32 sm:w-32 lg:h-48 lg:w-48 overflow-hidden border shrink-0">
                {% if profile.profile_image %}
                    <img src="{{profile.profile_image.url}}" alt="display-picture" class="object-cover h-full w-full">
                {% else %}
                    <img src="https://picsum.photos/id/28/300" class="h-full w-full object-cover" alt="Blog-Img"/>
                {% endif %}
            </div>
            <div>
                <h1 class="text-2xl text-pry-2 font-semibold py-2 font-merriweather">{{profile.author.first_name}} {{profile.author.last_name}}</h1>
                <p class="text-xs text-sec-3 font-medium pb-2.5">{{profile.tag|upper}}</p>
                <p class="text-sm text-pry-2 lg:w-2/3 text-justify">{{profile.bio}}</p>

                <div class="mt-2.5 flex gap-4 items-baseline justify-start">
                    <div class="flex items-center gap-2">
                        <i class="fa-regular fa-envelope text-sec-4 fa-md"></i>
                        <a href="mailto:{{profile.author.email}}" class="text-sm hover:text-sec-7"> {{profile.author.email}}</a>
                    </div>
                    <a href="{% url "editProfile" %}" class="text-xs text-pry-1 hover:text-ntr-4 font-semibold">Edit Profile</a>
                </div>
                <p class="text-sm text-ntr-4 font-normal mt-2.5">Member since {{ profile.joined|date:"M d, Y."|upper}}</p>
            </div>
        </div>

        <div>
            <h3 class="font-bold my-3 font-merriweather">My Blogs</h3>
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-7 lg:gap-10 gap-12 mb-5">
                {% for blog in blogPosts %}
                <div class="flex flex-col h-full">
                    <div class="">
                        {% if blog.image %}
                            <img src="{{blog.image.url}}" class="rounded-t-md sm:h-48 sm:w-full object-cover sm:mb-2" alt=""/>
                        {% else %}
                            <img src="https://picsum.photos/id/28/300" class="rounded-t-md sm:h-48 sm:w-full object-cover sm:mb-3" alt="Blog-Img"/>
                        {% endif %}
                    </div>

                    <div class="flex flex-col flex-1">
                        <p class="text-xs text-sec-3 font-bold">{{blog.category|upper}}</p>
                        <h5 class="font-bold text-ntr-3 sm:text-sm pt-2.5 pb-1.5">
                            {{blog.title}}
                        </h5>
                        <p class="sm:text-xs xl:text-sm pb-2.5 flex-1">
                            {{blog.content|truncatewords:20 }}
                        </p>
                        <p class="sm:text-xs pb-2.5"> <b class="italic text-pry-3">Author: </b> {{blog.author.first_name}} {{blog.author.last_name}}
                        </p>
                        <p class="sm:text-xs pb-2.5 text-pry-3"> <b>Last updated: </b> {{blog.updated_at}}
                        </p>
                        <a href="{% url "single_blog" blog.id %}" id="single_blog" class= "bg-pry-3 hover:bg-pry-9 p-1.5 rounded-lg mt-auto w-fit font-semibold text-pry-10 hover:text-pry-1 sm:text-xs">Read full blog</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

            <div class="bg-ntr-9 text-pry-2 p-10 my-6 text-center sm:px-36 md:px-60 flex flex-col italic">
                {% if profile.favourite_quote %}
                    <p>{{profile.favourite_quote}}</p>
                {% else %}
                    <p>Add your favourite quote to this section while editing.</p>
                {% endif %}

                <p class="text-xs mt-3 font-semibold font-merriweather">{{profile.author.first_name|upper}} {{profile.author.last_name|upper}}</p>
            </div>

    </div>
{% endblock  %}